@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranyekan;
  src: url("/fonts/woff/YekanBakhFaNum-Regular.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: iranyekan;
}

/* استایل برای نوار پیشرفت */
progress[value] {
  /* حذف استایل پیش‌فرض */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 5px; /* ارتفاع دلخواه */
  direction: ltr; /* اطمینان از اینکه جهت از چپ به راست است */
}

progress[value]::-webkit-progress-bar {
  background-color: #eee; /* رنگ پس‌زمینه */
  border-radius: 10px;
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  background-color: red; /* رنگ نوار پیشرفت */
  border-radius: 10px 0 0 10px;
}

progress[value]::-moz-progress-bar {
  background-color: red; /* رنگ نوار پیشرفت */
  border-radius: 10px 0 0 10px;
}

body {
  font-family: iranyekan;
}

.filter-default {
  filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg);
}

.filter-active {
  filter: invert(39%) sepia(81%) saturate(2561%) hue-rotate(360deg)
    brightness(102%) contrast(101%);
}

.dark .filter-white {
  filter: invert(100%);
}

/* اضافه کردن انیمیشن fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.popup-background {
  animation: fadeIn 0.3s ease-out forwards;
}
